
.gradle/5.0/fileHashes/fileHashes.bin
.gradle/5.0/fileHashes/fileHashes.lock
.gradle/5.0/fileHashes/resourceHashesCache.bin
.gradle/5.0/javaCompile/classAnalysis.bin
.gradle/5.0/javaCompile/jarAnalysis.bin
.gradle/5.0/javaCompile/javaCompile.lock
.gradle/5.0/javaCompile/taskHistory.bin
.gradle/5.0/taskHistory/taskHistory.bin
.gradle/5.0/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/gradle.xml
.idea/misc.xml
.idea/modules/com.cburch.logisim-evolution.main.iml
.idea/modules/com.cburch.logisim-evolution.test.iml
.idea/workspace.xml
build/classes/java/main/com/cburch/draw/toolbar/ToolbarButton.class
build/classes/java/main/com/cburch/hdl/HdlFile.class
build/classes/java/main/com/cburch/logisim/analyze/model/OutputExpressions$OutputData.class
build/classes/java/main/com/cburch/logisim/circuit/appear/CircuitAppearance.class
build/classes/java/main/com/cburch/logisim/circuit/appear/PortManager.class
build/classes/java/main/com/cburch/logisim/circuit/CircuitTransaction.class
build/classes/java/main/com/cburch/logisim/data/TestVector.class
build/classes/java/main/com/cburch/logisim/file/Loader.class
build/classes/java/main/com/cburch/logisim/file/LogisimFile.class
build/classes/java/main/com/cburch/logisim/file/LogisimFileActions$MergeFile.class
build/classes/java/main/com/cburch/logisim/gui/generic/ProjectExplorer$MyCellRenderer.class
build/classes/java/main/com/cburch/logisim/gui/generic/ProjectExplorer$MyListener.class
build/classes/java/main/com/cburch/logisim/gui/generic/ProjectExplorer$MySelectionModel.class
build/classes/java/main/com/cburch/logisim/gui/generic/ProjectExplorer$ToolIcon.class
build/classes/java/main/com/cburch/logisim/gui/generic/ProjectExplorer.class
build/classes/java/main/com/cburch/logisim/gui/hex/HexFile.class
build/classes/java/main/com/cburch/logisim/gui/main/Canvas.class
build/classes/java/main/com/cburch/logisim/gui/main/LayoutToolbarModel$MyListener.class
build/classes/java/main/com/cburch/logisim/gui/main/LayoutToolbarModel$ToolItem.class
build/classes/java/main/com/cburch/logisim/gui/main/LayoutToolbarModel.class
build/classes/java/main/com/cburch/logisim/gui/main/LogisimToolbarItem.class
build/classes/java/main/com/cburch/logisim/gui/menu/MenuItemHelper.class
build/classes/java/main/com/cburch/logisim/gui/menu/ProjectLibraryActions.class
build/classes/java/main/com/cburch/logisim/gui/prefs/TemplateOptions$MyListener.class
build/classes/java/main/com/cburch/logisim/gui/start/Startup.class
build/classes/java/main/com/cburch/logisim/gui/test/TestThread.class
build/classes/java/main/com/cburch/logisim/prefs/AppPreferences.class
build/classes/java/main/com/cburch/logisim/proj/ProjectActions.class
build/classes/java/main/com/cburch/logisim/std/hdl/VhdlContent.class
build/classes/java/main/com/cburch/logisim/std/memory/RomContentsListener$Change.class
build/classes/java/main/com/cburch/logisim/std/tcl/TclVhdlEntityContent.class
build/classes/java/main/com/cburch/logisim/tools/AddTool.class
build/classes/java/main/com/cburch/logisim/tools/Tool$AccessibleTools.class
build/classes/java/main/com/cburch/logisim/tools/Tool.class
build/classes/java/main/com/cburch/logisim/util/ArgonXML.class
build/classes/java/main/com/cburch/logisim/util/FileUtil.class
build/classes/java/main/com/cburch/logisim/util/Icons$AccessibleIcons.class
build/classes/java/main/com/cburch/logisim/util/Icons.class
build/classes/java/main/com/cburch/logisim/util/Softwares.class
build/classes/java/main/com/cburch/logisim/util/ZipClassLoader$WorkThread.class
build/classes/java/main/com/ita/logisim/ttl/Ttl74283.class
build/classes/java/test/com/cburch/logisim/file/XmlReaderTest.class
build/classes/java/test/com/cburch/logisim/LogisimVersionTest.class
